In [3]:
import pandas as pd
import seaborn as sns
import numpy as np

In [23]:
from collections import Counter
def can_build_string(str1, str2):
    count1= Counter(str1)
    count2= Counter(str2)
for char , freq in
count2.items():
    if count1[char] < freq:
        return False
    return True

SyntaxError: invalid syntax (1865250987.py, line 5)

In [11]:
str1 = "elephant"
str2 = "pale"

In [13]:
if can_build_string(str1, str2):
    print(f'yes, "{str2}" can be built from"{str1}".')
else:
    print(f'no, "{str2}" cannot be built from "{str1}" .')

NameError: name 'can_build_string' is not defined

In [ ]:
###2nd question

In [25]:
def calculate_power(*args):
    if len(args) == 1:
        return args[0] ** 2
    elif len(args) == 2:
        return args[0] ** args[1]
    else:
        return sum(args[: -1]) ** args[-1]

In [27]:
print(calculate_power(3))

9

In [29]:
print(calculate_power(2, 3))

8

In [31]:
print(calculate_power(1, 2, 3, 4))

1296

In [ ]:
###3 question

In [33]:
class Employee:
    def __init__(self, emp_id, name, department, salary):
        """initialize employee properties."""
        self.emp_id = emp_id
        self.name = name
        self.department = department
        self.salary = salary

In [35]:
def display_info(self):
    """Display employee details."""
    print(f"Employee ID: {self.emp_id}")
    print(f"Name : {self.name}")
    print(f"Department : {self.department}")
    print(f"Salary : $ {self.salary}")
    print ("-" * 30)

In [41]:
emp1 = Employee(101, "Alice johnson", "HR", 50000)
emp2 = Employee(102, "james jacks", "Accountant", 70000)
emp3 = Employee(103, "romeo jos", "IT", 90000)
emp1.display_info()
emp2.display_info()
emp3.display_info()

AttributeError: 'Employee' object has no attribute 'display_info'